@model IEnumerable<DigiOffers.Model.DTO.OfferNoteDto>

<table id="tblNotes" class="table table-striped table-bordered tblOffers">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
            </tr>
        }
    </tbody>
</table>
