@model DigiOffers.Model.DTO.OfferDto

@{
    ViewBag.Title = "Nova ponuda";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "offerForm" }))
{
    @Html.AntiForgeryToken()

    @Html.Partial("_CreateOrEditNew")
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts{
    <script src="~/Scripts/Site.js"></script>
}