@model DigiOffers.Model.DTO.OfferDto

@{
    ViewBag.Title = "Izmjena ponude";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.Partial("_CreateOrEditNew")
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
