@model IEnumerable<DigiOffers.Model.DTO.OfferDto>

@{
    ViewBag.Title = "Ponude";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Dodaj novu", "Create", null, new { @class = "btn btn-info"})
</p>

@Html.Partial("_IndexTable")