@model IEnumerable<DigiOffers.Model.DTO.OfferDto>

@{
    ViewBag.Title = "Ponude";
}

<h2>@ViewBag.Title</h2>

<div style="margin-bottom:30px">
    @Html.ActionLink("Dodaj novu", "Create", null, new { @class = "btn btn-info" })
</div>

<div>
    @Html.Partial("_IndexTable")
</div>