@model IEnumerable<DigiOffers.Model.DTO.OfferDto>

@{
    ViewBag.Title = "Ponude";
}

<h2>@ViewBag.Title</h2>

<div style="margin-bottom:30px">
    @Html.ActionLink("Dodaj novu", "Create", null, new { @class = "btn btn-info" })
</div>

<div>
    @Html.Partial("_IndexTable")
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblOffers').DataTable({
                order: [[2, 'desc']],
                language: {
                    "search" : "Pretraži:",
                    "lengthMenu": "Prikaži _MENU_ zapisa po stranici",
                    "zeroRecords": "Nema zapisa",
                    "info": "Strana _PAGE_ od _PAGES_",
                    "infoEmpty": "Nema zapisa",
                    "paginate": {
                        "previous": "Prethodna",
                        "next" : "Sljedeća"
                    }
                }
            });
        });
    </script>
}