body {
	padding-top: 50px;
	padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	/*max-width: 280px;*/
}

.panel-info {
	border-color: #033c73 !important;
}

.panel-warning {
	border-color: #dd5600 !important;
}

.panel-success {
	border-color: #73a839 !important;
}

.panel-danger {
	border-color: #c71c22 !important;
}

.panel-primary {
	border-color: #2fa4e7 !important;
}

.panel-heading[aria-expanded=true] .glyphicon-chevron-right {
	display: none;
}

.panel-heading[aria-expanded=false] .glyphicon-chevron-down {
	display: none;
}

.action-columns {
	width:100px;
	min-width:70px;
	text-align:center;
}

table tbody tr:hover {
	background-color: #abdaf5 !important;
}
